@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Long+Cang:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lacquer:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
