@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Long+Cang:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lacquer:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-josefin-sans font-medium;
}

body {
  @apply leading-[normal] m-0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overscroll-behavior: contain;
}

html {
  height: -webkit-fill-available;
}
*,
::before,
::after {
  border-width: 0;
}

#__next,
#portal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-y: overlay;
}

#portal {
  z-index: 1;
}
